<h1 class="text-black">Virtual <small class="text-danger">Library</small> </h1>


<div class="card-columns">
    <div class="card">
        <div class="text-center mt-2">

            <img src="..." class="card-img-top" alt="...">

        </div>
      <div class="card-body">
        <h5 class="card-title">Titulo del libro</h5>
        <p class="card-text text-justify">Descripcion del libro</p>
        <p class="card-text"><small class="text-muted"> Autor:  , Sexo: </small></p>
      </div>
    </div>
    
  </div>